.gallery
    display: flex
    &__block
        width: calc( 100% / 3)
        height: 534px
        display: flex
        flex-wrap: wrap
    &__block_w532
        
        img
            width: 266px
    &__brooks
        width: 100%